@forward "abstracts/index";
@forward 'globals/index';
@forward 'components/index';
@forward 'layout/index';

@media only screen and (max-width: 400px) {
    .container{
      max-width: 18.5rem;
      padding: 1rem;
      & .illustration {
      width: 100%;
    }
    & h1{
      font-size: 1rem;
      margin: 0 0 .5rem 0;
    }
    }
  }