@forward "abstracts";
@forward "globals";
@forward "components";
@forward "layout";

@media only screen and (max-width: 25em) {
  .card {
    max-width: 18.5em;
    padding: 1em;
    &__title {
      font-size: 1rem;
      margin-bottom: 0.5em;
    }
    &__date {
      font-size: .7rem;
    }
    &__description {
      font-size: .7rem;
    }
  }
}
