@use "../abstracts/index" as *;

.container {
  width: 23.75rem;
  background: $white;
  border: 1px solid $black;
  border-radius: 1.25rem;
  padding: 1.25rem;
  box-shadow: 8px 8px 0 $black;
  margin-bottom: 2rem;
  & .description {
    color: $grey;
    margin: 0 0 20px 0;
    font-weight: 400;
  }
  & .autor {
    display: flex;
    justify-content: left;
    align-items: center;
    & .image-autor {
      margin-right: 0.6rem;
      width: 33px;
    }
    & .name-autor {
      font-size: 0.8rem;
      font-weight: 800;
      &:hover {
        cursor: pointer;
        color: $yellow;
      }
    }
  }
}
